<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">ACTUALIZAR CREDENCIALES</h4>
        </div>
    </div>
    <div class="">


        <div class="row mb-sm-4">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">INGRESAR DATOS</h4>
                    </div>
                    <div class="card-body">
                        <div class="row mb-sm-4">
                            <div class="col-md-3">
                                <label class="form-label">Credencial Anterior</label>
                                <input type="text" class="form-control" [value]="oldCredential()"
                                    (input)="oldCredential.set($any($event.target).value)">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Credencial Nueva</label>
                                <input type="text" class="form-control" [value]="newCredential()"
                                    (input)="newCredential.set($any($event.target).value)">
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">N° DNI</label>
                                <input type="text" class="form-control" [value]="nuDni()"
                                    (input)="nuDni.set($any($event.target).value)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-sm-4">
            <div class="col-sm-2 w-auto">
                <button type="button" class="btn btn-primary btn-label" (click)="updateReniecCredentials()">
                    <i class="ri-search-line label-icon align-middle fs-16 me-2"></i> Enviar
                </button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-success btn-label" (click)="resetFields()">
                    <i class="ri-brush-2-line label-icon align-middle fs-16 me-2"></i> Limpiar
                </button>
            </div>
        </div>



        <!-- <div class="content-data row mb-sm-3 p-3 border border-dark border-2">
                  <div class="content-image col-5 d-flex justify-content-center align-items-center border border-dark">
                        <img [src]="getFotoSrc()" class="img-fluid" alt="...">
                  </div>
                  <div class="col-7">
                        <div class="row mb-sm-4">
                              <div class="col">
                                    <label for="valueInput" class="form-label">Nombres</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.prenombres" disabled>
                              </div>
                              <div class="col">
                                    <label for="valueInput" class="form-label">Apellido Paterno</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.apPrimer" disabled>
                              </div>
                        </div>
                        <div class="row mb-sm-4">
                              <div class="col">
                                    <label for="valueInput" class="form-label">Apellido Materno</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.apSegundo" disabled>
                              </div>
                              <div class="col">
                                    <label for="valueInput" class="form-label">Estado Civil</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.estadoCivil" disabled>
                              </div>
                        </div>
                        <div class="row mb-sm-4">
                              <div class="col">
                                    <label for="valueInput" class="form-label">Ubigeo</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.ubigeo" disabled>
                              </div>
                              <div class="col">
                                    <label for="valueInput" class="form-label">Restricción</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.restriccion" disabled>
                              </div>
                        </div>
                        <div class="row mb-sm-4">
                              <div class="col">
                                    <label for="valueInput" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.direccion" disabled>
                              </div>
                        </div>
                  </div>
            </div> -->
    </div>
</div>