<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">REGISTRO DE BIENES</h4>
        </div>
    </div>
    <div class="">
        <div class="row mb-sm-4">
            <div class="col-md-3">
                <label for="validationDefault04" class="form-label">Tipo Persona</label>
                <select class="form-select" (change)="changeTipoPersona($any($event.target).value)">
                    <option value="N">Persona Natural</option>
                    <option value="J">Persona Jurídica</option>
                </select>
            </div>
            <ng-container *ngIf="tipoPersona() === 'N'">
                <div class="col-md-3">
                    <label class="form-label">Ap.Paterno</label>
                    <input type="text" class="form-control" [value]="apePaterno()"
                        (input)="apePaterno.set($any($event.target).value.toUpperCase())">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Ap.Materno</label>
                    <input type="text" class="form-control" [value]="apeMaterno()"
                        (input)="apeMaterno.set($any($event.target).value.toUpperCase())">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Nombres</label>
                    <input type="text" class="form-control" [value]="nombres()"
                        (input)="nombres.set($any($event.target).value.toUpperCase())">
                </div>
            </ng-container>
            <ng-container *ngIf="tipoPersona() === 'J'">
                <div class="col-md-9">
                    <label class="form-label">Raz.Social</label>
                    <input type="text" class="form-control" [value]="razSocial()"
                        (input)="razSocial.set($any($event.target).value.toUpperCase())">
                </div>
            </ng-container>
            <!-- <div class="col-sm-7">
                <app-result-alert></app-result-alert>
            </div> -->
        </div>
        <div class="row mb-sm-4">
            <div class="col-sm-2 w-auto">
                <button type="button" class="btn btn-primary btn-label" (click)="searchBienes()">
                    <i class="ri-search-line label-icon align-middle fs-16 me-2"></i> Enviar
                </button>
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-success btn-label" (click)="resetFields()">
                    <i class="ri-brush-2-line label-icon align-middle fs-16 me-2"></i> Limpiar
                </button>
            </div>
        </div>

        <!-- GRID TABLE -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">RESULTADOS</h4>
                    </div><!-- end card header -->

                    <div class="card-body">
                        <div id="table-card" class="table-card"></div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div>
            <!-- end col -->
        </div>
    </div>
</div>

<app-modal #globalModal [title]="'Detalle Partida'" [size]="baseToImage ? 'modal-xl' : 'modal-lg'">
    <!-- <div modal-header>
        <h5 class="modal-title">Detalle</h5>
        <button type="button" class="btn-close" (click)="globalModal.close()" aria-label="Close"></button>
    </div> -->
    <div modal-body>
        <!-- GRID TABLE -->
        <div class="row">
            <div [ngClass]="baseToImage ? 'col-lg-6': 'col-lg-12'">
                <div class="card">
                    <div class="card-header">
                        <h4 class=" d-flex align-items-center card-title mb-0">RESULTADOS PARTIDA N° {{ this.numPartida
                            }}</h4>
                    </div><!-- end card header -->

                    <div class="card-body">
                        <div id="table-partida" class="table-card"></div>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div>
            <ng-container *ngIf="this.baseToImage.length > 0">
                <div class="col-lg-6 d-flex flex-column">
                    <img [src]="baseToImage" class="image-partida" />
                    <button class="btn btn-primary" (click)="this.descargarPDF()">Descargar Imagen</button>
                </div>
            </ng-container>
            <!-- end col -->
        </div>
    </div>

    <div modal-footer>
        <!-- <button class="btn btn-primary" (click)="globalModal.close()">Cerrar</button> -->
        <!-- <button class="btn btn-primary" (click)="guardar()">Guardar</button> -->
    </div>
</app-modal>