<div class="card bg-primary text-white border-0">
    <div class="card-body">
        <div class="row gy-3">
            <div class="col-sm">
                <h5 class="card-title text-white fs-17">{{title()}}</h5>
                <p class="mb-0">{{subTitle()}}</p>
            </div>
            <div class="col-sm-auto d-flex justify-content-center align-items-center">
                <input type="string" [placeholder]="placeholder()" class="form-control input-c-search" autofocus
                    [maxLength]="maxLenght()" aria-label="Recipient's username" aria-describedby="button-addon2"
                    (input)="onInputChange($event)" (keyup.enter)="value.emit(txtSearch.value)" #txtSearch>
                <button class="btn btn-dark btn-c-search" type="button" id="button-addon2"
                    (click)="value.emit(txtSearch.value)">Buscar</button>
            </div>
        </div>
    </div>
</div>