<div class="row">
      <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                  <h4 class="mb-sm-0">CARNET DE EXTRANJERIA</h4>
            </div>
      </div>
      <div class="">
            <div class="row mb-sm-4">
                  <div class="col-lg-6 col-12">
                        <app-input-search 
                              placeholder="Ingresar CEE..."
                              title="Consulta Aqui!"
                              subTitle="Persona con documento de extranjería"
                              maxLenght="9"
                              [inputType]="'numeric'"
                              (value)="getCExtranjeria($event)">
                        </app-input-search>

                        <!-- <div class="card bg-primary text-white border-0">
                              <div class="card-body">
                                    <div class="row gy-3">
                                          <div class="col-sm">
                                                <h5 class="card-title text-white fs-17">CONSULTA AQUI !</h5>
                                                <p class="mb-0">Persona registrada en la Reniec</p>
                                          </div>
                                          <div class="col-sm-auto d-flex justify-content-center align-items-center">
                                                <input type="string" placeholder="Ingrese CEE..."
                                                      class="form-control input-c-search" maxlength="9"
                                                      aria-label="Recipient's username" aria-describedby="button-addon2"
                                                      #txtSearch>
                                                <button class="btn btn-dark btn-c-search" type="button"
                                                      id="button-addon2"
                                                      (click)="getCExtranjeria(txtSearch.value)">Buscar</button>
                                          </div>
                                    </div>
                              </div>
                        </div> -->
                        <!-- end card -->
                  </div>

                  <!-- <div class="col-sm-5">
                        <div class="input-group input-group-lg">
                              <input type="string" placeholder="Ingrese CEE..." class="form-control" maxlength="9"
                                    aria-label="Recipient's username" aria-describedby="button-addon2" #txtSearch>
                              <button class="btn btn-outline-primary" type="button" id="button-addon2"
                                    (click)="getCExtranjeria(txtSearch.value)">Buscar</button>
                        </div>
                  </div> -->
                  <div class="col-sm-6">
                        <!-- <app-result-alert></app-result-alert> -->
                  </div>
            </div>
            <div class="row mb-sm-3">
                  <div class="col-sm-12">
                        <div class="card">
                              <div class="card-header">
                                    <h4 class="card-title mb-0">RESULTADOS</h4>
                              </div>
                              <div class="card-body">
                                    <div class="row gy-4">
                                          <div class="col">
                                                <label for="valueInput" class="form-label">Ap.Paterno</label>
                                                <input type="text" class="form-control" id="valueInput"
                                                      [value]="dataExtranjeria()?.apepaterno" disabled>
                                          </div>
                                          <div class="col">
                                                <label for="valueInput" class="form-label">Ap.Materno</label>
                                                <input type="text" class="form-control" id="valueInput"
                                                      [value]="dataExtranjeria()?.apematerno" disabled>
                                          </div>
                                          <div class="col">
                                                <label for="valueInput" class="form-label">Nombres</label>
                                                <input type="text" class="form-control" id="valueInput"
                                                      [value]="dataExtranjeria()?.nombres" disabled>
                                          </div>
                                          <div class="col">
                                                <label for="valueInput" class="form-label">Calidad Migratoria</label>
                                                <input type="text" class="form-control" id="valueInput"
                                                      [value]="dataExtranjeria()?.calmigratoria" disabled>
                                          </div>
                                    </div>
                              </div>
                        </div>
                        <!-- <div class="row mb-sm-4">
                              <div class="col">
                                    <label for="valueInput" class="form-label">Nombres</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.prenombres" disabled>
                              </div>
                              <div class="col">
                                    <label for="valueInput" class="form-label">Apellido Paterno</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.apPrimer" disabled>
                              </div>
                        </div>
                        <div class="row mb-sm-4">
                              <div class="col">
                                    <label for="valueInput" class="form-label">Apellido Materno</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.apSegundo" disabled>
                              </div>
                              <div class="col">
                                    <label for="valueInput" class="form-label">Estado Civil</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.estadoCivil" disabled>
                              </div>
                        </div>
                        <div class="row mb-sm-4">
                              <div class="col">
                                    <label for="valueInput" class="form-label">Ubigeo</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.ubigeo" disabled>
                              </div>
                              <div class="col">
                                    <label for="valueInput" class="form-label">Restricción</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.restriccion" disabled>
                              </div>
                        </div>
                        <div class="row mb-sm-4">
                              <div class="col">
                                    <label for="valueInput" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" id="valueInput"
                                          [value]="dataReniec()?.direccion" disabled>
                              </div>
                        </div> -->
                  </div>
            </div>
      </div>
</div>